[Desktop Entry]
Categories=System;
Exec=biglinux-body-tracker
Icon=big-head-tracker.svg
Name=Big Head Tracker
StartupNotify=true
Terminal=false
Type=Application
