[Desktop Entry]
Categories=System;
Exec=big-head-tracker
Icon=big-head-tracker
Name=Big Head Tracker
StartupNotify=true
Terminal=false
Type=Application
