[Desktop Entry]
Categories=Settings;
Exec=biglinux-body-tracker --view 1
Icon=biglinux-body-tracker
Name=Big Head Tracker
StartupNotify=true
Terminal=false
Type=Application
